
/*   
  .agent_details::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 5px;
    width: 80%;
    top: 80%;
    max-width: 200px;
  
  } */

    
  .travel_requests{
        margin-left: 40%;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  table{
   background-color: #ccc;
   text-align: center;
   margin: auto;
   width: 100%;
   padding: 10px;
   border: 2px solid black;
  }
  th{
   color: #000000;
   background:#4bd5ff;
}
tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 tr:hover {
   background-color: #4bd5ff;
 }
  td,th{
   border: 2px solid black;
   padding: 10px;
  }

  .main-nav__item__cta2 a:hover,
  .main-nav__item__cta2 a:active{
      color: #ff1b68;
      background: white;
      border: none;
  }

  .main-nav__item{
    display: inline-block;
    margin: 2px 10px;
 }
 button{


   color: #fff;
   background: #573b8a;
   font-size: 1em;
   font-weight: bold;
   
   border-radius: 5px;
   transition: .2s ease-in;
   cursor: pointer;
}
button:hover{
   background: #6d44b8;
}
 .main-header{
    width:  100%;

    padding: 10px 4px;

 }
 .main-nav__item main-nav__item__cta{
   margin: 4px;
   padding: 10px;
 }


 .main-header__brand{
    text-decoration: none;
    font-weight: bold;
    color: #0e4f1f;
 }
 .main-nav{
    display: inline-block;
  box-sizing: border-box;
 }


 .main-nav{
    width: 100%;
    text-align: right;
 
  
 }

 .main-nav__item a{
    text-decoration: none;
    font-weight: normal;
    padding: 3px 3px;
    border-radius: 10px;

 }

 .main-nav__item__cta a{
    color: white;
    background: #ff1b68;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
 }

 .main-nav__item__cta2 a{
   color: white;
   background: #1bffa4;
   padding: 5px 15px;
   border-radius: 8px;
}




.main-nav__item a:hover,
.main-nav__item a:active{
    color:white;
    border-bottom: 2px solid white;
}
.main-nav__item__cta a:hover,
.main-nav__item__cta a:active{
    color: #ff1b68;
    background: white;
    border: none;
}


.main-nav__item__cta2 a:hover,
.main-nav__item__cta2 a:active{
    color: #ff1b68;
    background: white;
    border: none;
}
 .main-header>div{
    display: inline-block;
 }

 .main-nav__items{
    list-style: none;
    padding: 0;
    margin: 0;
   
 }
 .button{
    background-color: #021808;
    padding: 10px;
    border-radius: 8px;
    color:white;
    border-style: none;
    box-shadow: none;
    font-weight: bold;
    cursor: pointer;
    
}

.button:hover, .button:active{
    background-color: white;
    color:#0e4f1f;
    cursor: pointer;

}
