<header class="main-header">
    <div>
        <a href="#" class="main-header__brand">
            Employee Travel Portal
        </a>
    </div><nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item main-nav__item__cta">
                <a href="agent-profile/{{agentId}}">Profile</a>
            </li>

            <li class="main-nav__item main-nav__item__cta">
                <a href="agent/view-requests/{{pending}}">Pending Requests</a>
            </li>
            <!-- <li class="main-nav__item main-nav__item__cta">
                <a href="agent/view-requests/{{approved}}">Approved Requests</a>
            </li> -->
            <li class="main-nav__item main-nav__item__cta">
                <a href="agent/view-requests/{{rejected}}">Rejected Requests</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="agent/view-requests/{{readyForBooking}}">Approved Requests</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="agent/logout">Logout</a>
            </li>
        </ul>
    </nav>
  </header>