<header class="main-header">
    <div>
        <a href="#" class="main-header__brand">
            Employee Travel Portal
        </a>
    </div><nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item main-nav__item__cta">
                <a href="profile/{{employeeId}}">Profile</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="new-request/{{employeeId}}">Request new Travel</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="requests-sent/{{employeeId}}">View All Requests</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="view-bookings">View Bookings</a>
            </li>
            
            <li class="main-nav__item main-nav__item__cta">
                <a href="employee/logout">Logout</a>
            </li>
        </ul>
    </nav>
  </header>
<!-- <div>
    <nav>
        <h1>Employee Travel Portal</h1>
    </nav>
    
    <nav> 
    <ul>
        
        <li> <a href="">Logout</a> </li>
       
      <li><a href="#" *ngIf="employee.role=='Project Manager' || employee.role=='Director'">Pending Request</a></li>
      <li><a href="#" *ngIf="employee.role=='Project Manager' || employee.role=='Director'">Approved Request</a></li>
      <li><a href="#" *ngIf="employee.role=='Project Manager' || employee.role=='Director'">Rejected Request</a></li>

      <li><a href="#" *ngIf="employee.role!='Director'">Request New Travel</a></li>
      <li><a href="#" *ngIf="employee.role!='Director'">Sent Requests</a></li>

      <li> <a href="">Profile</a> </li>
    </ul>
</nav>
</div> -->
