
<header class="main-header">
    <div>
        <a class="login" >Employee Travel Portal</a>
    </div><nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item main-nav__item__cta" >
                <a href="loginPage">Login</a>
            </li>
        </ul>
    </nav>
</header>

<div class="backdesign">
    <h3>{{ message}}</h3>
    <h4 class="main-nav__item main-nav__item__cta"><a href="loginPage">Login Again</a></h4>
</div>

<footer class="main-footer">
    <nav>
        <ul class="main-footer__links">
            <!-- <li class="main-footer__link">
                <a href="#">Support</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Terms of Use</a>
            </li> -->
            <li class="main-footer__link"><a>&copy; 2023 mindgate solutions pvt ltd</a></li>
        </ul>
    </nav>
  </footer>